/visivo.egg-info
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Environments
.env
.venv
env/
venv/
venv12/
cli_venv/
api_venv/
ENV/
env.bak/
venv.bak/

target
prds/
dist/
build/

tmp
mkdocs_build/
test-projects/*/dist
visivo/dist
node_modules

.report.json
.qodo
# Local Netlify folder
.netlify
.qodo
.visivo_cache
mk_docs.log
visivo.spec
