/visivo.egg-info
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Environments
.env
.venv
env/
venv/
cli_venv/
api_venv/
ENV/
env.bak/
venv.bak/

target
tmp
mkdocs_build/
/visivo/dist/

node_modules

.report.json
# Local Netlify folder
.netlify
.qodo
