version: "3.9"
services:
  postgres:
    image: "postgres:latest"
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - 5434:5432
    volumes:
      - ./tests/setup/populate_ci_postgres.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  mysql:
    image: "mysql:latest"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mysql
    ports:
      - 3306:3306
    volumes:
      - ./tests/setup/populate_ci_mysql.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-pmysql"]
      interval: 5s
      timeout: 5s
      retries: 10

  clickhouse:
    image: "clickhouse/clickhouse-server:latest"
    restart: always
    ports:
      - 8123:8123
      - 9000:9000
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - ./tests/setup/populate_ci_clickhouse.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "curl", "-s", "http://localhost:8123/ping"]
      interval: 5s
      timeout: 5s
      retries: 5