site_name: Visivo Docs
plugins:
  - mkdocs-video
  - autolinks
  - search: {}
  - macros:
      module_name: mkdocs/src/main
      on_error_fail: true
      on_undefined: strict
  - spellcheck:
      backends:
        - codespell:
            dictionaries:
              - clear
              - rare
      known_words: known_words.txt
      ignore_code: true
      min_length: 2
      max_capital: 1
markdown_extensions:
  - mkdocs-click
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - abbr
  - pymdownx.snippets
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - mkdocs/overrides/.icons
repo_url: https://github.com/visivo-io/visivo
repo_name: visivo-io/visivo
theme:
  name: material
  custom_dir: mkdocs/overrides
  features:
    - content.tabs.link
    - navigation.indexes
    - navigation.sections
    - content.tooltips
    - content.code.annotate
    - content.code.copy
  logo: assets/favicon_io/android-chrome-192x192.png
  favicon: assets/favicon_io/favicon-32x32.png
  icon:
    annotation: material/arrow-right-circle
  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: visivo_light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: visivo_dark
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
docs_dir: mkdocs
site_dir: mkdocs_build
extra:
  analytics:
    provider: combined
    property: G-50DF3C95TL
extra_css:
  - stylesheets/brand_colors.css
  - stylesheets/icon-colors.css
nav:
  - Getting Started: index.md
  - Change Log: https://github.com/visivo-io/visivo/releases
  - Topics:
      - Linting: topics/linting.md
      - Including: topics/including.md
      - Sources: topics/sources.md
      - Deployment: topics/deployments.md
      - Testing: topics/testing.md
      - Interactivity: topics/interactivity.md
  - Reference:
      - CLI: reference/cli.md
      - Configuration:
          - Alerts:
              - SlackAlert:
                  - reference/configuration/Alerts/SlackAlert/index.md
              - EmailAlert:
                  - reference/configuration/Alerts/EmailAlert/index.md
              - ConsoleAlert:
                  - reference/configuration/Alerts/ConsoleAlert/index.md
          - Chart:
              - reference/configuration/Chart/index.md
              - Layout:
                  - reference/configuration/Chart/Layout/index.md
          - Dashboard:
              - reference/configuration/Dashboard/index.md
              - Row:
                  - reference/configuration/Dashboard/Row/index.md
                  - Item:
                      - reference/configuration/Dashboard/Row/Item/index.md
          - Defaults:
              - reference/configuration/Defaults/index.md
          - Include:
              - reference/configuration/Include/index.md
          - Models:
              - SqlModel:
                  - reference/configuration/Models/SqlModel/index.md
              - CsvScriptModel:
                  - reference/configuration/Models/CsvScriptModel/index.md
              - LocalMergeModel:
                  - reference/configuration/Models/LocalMergeModel/index.md
          - Selector:
              - reference/configuration/Selector/index.md
          - Sources:
              - SqliteSource:
                  - reference/configuration/Sources/SqliteSource/index.md
                  - Attachment:
                      - reference/configuration/Sources/SqliteSource/Attachment/index.md
              - PostgresqlSource:
                  - reference/configuration/Sources/PostgresqlSource/index.md
              - MysqlSource:
                  - reference/configuration/Sources/MysqlSource/index.md
              - SnowflakeSource:
                  - reference/configuration/Sources/SnowflakeSource/index.md
          - Table:
              - reference/configuration/Table/index.md
              - TableColumnDefinition:
                  - reference/configuration/Table/TableColumnDefinition/index.md
                  - TableColumn:
                      - reference/configuration/Table/TableColumnDefinition/TableColumn/index.md
                      - AggregationEnum:
                          - reference/configuration/Table/TableColumnDefinition/TableColumn/AggregationEnum/index.md
          - Trace:
              - reference/configuration/Trace/index.md
              - TraceColumns:
                  - reference/configuration/Trace/TraceColumns/index.md
              - Bar:
                  - reference/configuration/Trace/Bar/index.md
              - Barpolar:
                  - reference/configuration/Trace/Barpolar/index.md
              - Box:
                  - reference/configuration/Trace/Box/index.md
              - Candlestick:
                  - reference/configuration/Trace/Candlestick/index.md
              - Carpet:
                  - reference/configuration/Trace/Carpet/index.md
              - Choropleth:
                  - reference/configuration/Trace/Choropleth/index.md
              - Choroplethmapbox:
                  - reference/configuration/Trace/Choroplethmapbox/index.md
              - Cone:
                  - reference/configuration/Trace/Cone/index.md
              - Contour:
                  - reference/configuration/Trace/Contour/index.md
              - Contourcarpet:
                  - reference/configuration/Trace/Contourcarpet/index.md
              - Densitymapbox:
                  - reference/configuration/Trace/Densitymapbox/index.md
              - Funnel:
                  - reference/configuration/Trace/Funnel/index.md
              - Funnelarea:
                  - reference/configuration/Trace/Funnelarea/index.md
              - Heatmap:
                  - reference/configuration/Trace/Heatmap/index.md
              - Heatmapgl:
                  - reference/configuration/Trace/Heatmapgl/index.md
              - Histogram:
                  - reference/configuration/Trace/Histogram/index.md
              - Histogram2d:
                  - reference/configuration/Trace/Histogram2d/index.md
              - Histogram2dcontour:
                  - reference/configuration/Trace/Histogram2dcontour/index.md
              - Icicle:
                  - reference/configuration/Trace/Icicle/index.md
              - Image:
                  - reference/configuration/Trace/Image/index.md
              - Indicator:
                  - reference/configuration/Trace/Indicator/index.md
              - Isosurface:
                  - reference/configuration/Trace/Isosurface/index.md
              - Mesh3d:
                  - reference/configuration/Trace/Mesh3d/index.md
              - Ohlc:
                  - reference/configuration/Trace/Ohlc/index.md
              - Parcats:
                  - reference/configuration/Trace/Parcats/index.md
              - Parcoords:
                  - reference/configuration/Trace/Parcoords/index.md
              - Pie:
                  - reference/configuration/Trace/Pie/index.md
              - Sankey:
                  - reference/configuration/Trace/Sankey/index.md
              - Scatter:
                  - reference/configuration/Trace/Scatter/index.md
              - Scatter3d:
                  - reference/configuration/Trace/Scatter3d/index.md
              - Scattercarpet:
                  - reference/configuration/Trace/Scattercarpet/index.md
              - Scattergeo:
                  - reference/configuration/Trace/Scattergeo/index.md
              - Scattergl:
                  - reference/configuration/Trace/Scattergl/index.md
              - Scattermapbox:
                  - reference/configuration/Trace/Scattermapbox/index.md
              - Scatterpolar:
                  - reference/configuration/Trace/Scatterpolar/index.md
              - Scatterpolargl:
                  - reference/configuration/Trace/Scatterpolargl/index.md
              - Scattersmith:
                  - reference/configuration/Trace/Scattersmith/index.md
              - Scatterternary:
                  - reference/configuration/Trace/Scatterternary/index.md
              - Splom:
                  - reference/configuration/Trace/Splom/index.md
              - Streamtube:
                  - reference/configuration/Trace/Streamtube/index.md
              - Sunburst:
                  - reference/configuration/Trace/Sunburst/index.md
              - Surface:
                  - reference/configuration/Trace/Surface/index.md
              - Treemap:
                  - reference/configuration/Trace/Treemap/index.md
              - Violin:
                  - reference/configuration/Trace/Violin/index.md
              - Volume:
                  - reference/configuration/Trace/Volume/index.md
              - Waterfall:
                  - reference/configuration/Trace/Waterfall/index.md
              - Test:
                  - reference/configuration/Trace/Test/index.md
      - Functions:
          - On Compile:
              - reference/functions/jinja/index.md
              - reference/functions/jinja/macros.md
              - reference/functions/jinja/loops.md
              - reference/functions/jinja/variables.md
          - Run Time:
              - reference/functions/runtime_functions/index.md
  - Background:
      - Viewpoint: viewpoint.md
      - How It Works: how_it_works.md
