@tailwind base;
@tailwind components;
@tailwind utilities;

.md-toggle {
    display: none
}

[data-md-toggle=drawer]:checked~.md-container .md-sidebar--primary {
    box-shadow: var(--md-shadow-z3);
    transform: translateX(12.1rem) translateZ(80px);
}

.md-header {
    transform: translateZ(80px);
}

@keyframes spin {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    25% {
        transform: rotateY(0deg) rotateX(90deg);
    }

    50% {
        transform: rotateY(0deg) rotateX(180deg);
    }

    75% {
        transform: rotateY(0deg) rotateX(270deg);
    }

    100% {
        transform: rotateY(0deg) rotateX(360deg);
    }
}

#shared-loader {
    box-sizing: border-box;
    font-family: sans-serif;
    width: 260px;
    height: 80px;
    margin: 0;
    perspective: 220px;
}

.cube {
    width: 260px;
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-200px);
    transition: transform 3s;
    animation: spin 10s infinite;
}

.cube-face {
    position: absolute;
    width: 260px;
    height: 80px;
    border: 2px solid #fff;
    line-height: 80px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: #D25946;
}

.cube-face-front {
    transform: rotateY(0deg) translateZ(40px);
}

.cube-face-back {
    transform: rotateY(180deg) rotateZ(180deg) translateZ(40px);
}

.cube-face-top {
    transform: rotateX(90deg) translateZ(40px);
}

.cube-face-bottom {
    transform: rotateX(-90deg) translateZ(40px);
}