name: Deploy Docs to Github Pages

on:
  push:
    branches: [ "main", "tim/open-source" ]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Install CLI Dependencies
        run: pip install poetry && poetry install --with dev && poetry run visivo
      
      - name: Deploy mkdocs to docs.visivo.io
        run: cd cli && PYTHONPATH=$PWD poetry run mkdocs build && PYTHONPATH=$PWD poetry run mkdocs gh-deploy --force
      