name: Deploy Dashboard

on:
  pull_request:
    types:
      - opened
      - edited
      - closed
  push:
    branches: ["main"]

jobs:
  deploy-dashboard:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Install CLI 
        run: python -m pip install git+https://github.com/visivo-io/visivo.git@${{ github.head_ref }} --force-reinstall

      - name: Deploy
        if: github.event.pull_request.merged == false
        run: cd test-projects/simple-database && visivo run && VISIVO_TOKEN=${{ secrets.VISIVO_TOKEN }} visivo deploy -s ${{ github.head_ref }}

      - name: Archive 
        if: github.event.pull_request.merged == true
        run: VISIVO_TOKEN=${{ secrets.VISIVO_TOKEN }} visivo archive -s ${{ github.head_ref }}
      