name: Test

on:
  pull_request:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test-cli:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - uses: Gr1N/setup-poetry@v8 
      
      - name: Install Dependencies
        run: poetry install
      
      - name: Test CLI
        run: poetry run pytest 
  
  test-rails:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0.2'
          bundler-cache: true
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - uses: Gr1N/setup-poetry@v8 

      - name: Install CLI Dependencies
        run: poetry install
      
      - name: Install CLI Visivo Package
        run: poetry build && pip install dist/visivo-0.1.0-py3-none-any.whl 
      
      - name: Install Dependencies
        run: cd test-projects/ror && bundle install && cd ../..
      
      - name: Test App
        run: cd test-projects/ror && bundle exec rspec && cd ../..
  
  test-snowflake:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - uses: Gr1N/setup-poetry@v8 

      - name: Install CLI Dependencies
        run: poetry install
      
      - name: Install CLI Visivo Package
        run: poetry build && pip install dist/visivo-0.1.0-py3-none-any.whl
      
      - name: Test App
        run: |
          cd test-projects/simple-database && STACKTRACE=true visivo run -t remote-snowflake && cd ../..
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          CLI_UNIT_TESTING_SNOWFLAKE_USER: ${{ secrets.CLI_UNIT_TESTING_SNOWFLAKE_USER }}
          CLI_UNIT_TESTING_SNOWFLAKE_PASSWORD: ${{ secrets.CLI_UNIT_TESTING_SNOWFLAKE_PASSWORD }}
  
  test-complex-project:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - uses: Gr1N/setup-poetry@v8 

      - name: Install CLI Dependencies
        run: poetry install
      
      - name: Install CLI Visivo Package
        run: poetry build && pip install dist/visivo-0.1.0-py3-none-any.whl
      
      - name: Test App
        run: |
          cd test-projects/complex-project && visivo run && cd ../..
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          CLI_UNIT_TESTING_SNOWFLAKE_USER: ${{ secrets.CLI_UNIT_TESTING_SNOWFLAKE_USER }}
          CLI_UNIT_TESTING_SNOWFLAKE_PASSWORD: ${{ secrets.CLI_UNIT_TESTING_SNOWFLAKE_PASSWORD }}